*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul li{
  list-style: none;
}

.btn-gral-1{
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  color: #FFFFFF;
  background-color: #2289FF;
  cursor: pointer;
  transition: .5s all ease-in-out;
}

.btn-gral-2{
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 1.3rem;
  border: none;
  color: #FFFFFF;
  background-color: #2289FF;
  cursor: pointer;
  transition: .5s all ease-in-out;
}

.btn-gral-1:hover,
.btn-gral-2:hover{
  background-color: #0D2E4E;
}

.select-gral{
  font-size: 1.3rem;
  padding: 20px 30px;
  border-radius: 5px;
  border: 2px solid #2289FF;
  color: #2289FF
}